@{
    ViewBag.Title = "Create";
}

<h2>Create Workout</h2>
<a href="/Workout/List">Cancel</a>
<form action="/Workout/Create" method="POST">
    <div>
        <label>Date:</label> <input type="date" name="WorkoutDate" />
    </div>
    <div>
        <input type="submit" value="Create Workout" />
    </div>
</form>