@model WorkoutHistoryApp.Models.WorkoutHistoryDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this WorkoutHistory?</h2>
<a href="/WorkoutHistory/List">Cancel</a>
<h3>Date: @Model.Date</h3>
<p>Exercise Type: <a href="/ExerciseType/Details/@Model.ExerciseTypeID">@Model.ExerciseTypeName</a></p>
<p>Exercise: <a href="/Exercise/Details/@Model.ExerciseID">@Model.ExerciseName</a></p>
<p>Description: @Model.Description</p>
<form action="/WorkoutHistory/Delete/@Model.WorkoutHistoryID" method="POST">
    <input type="submit" value="Confirm Delete"/>
</form>
