@model IEnumerable<WorkoutHistoryApp.Models.WorkoutHistoryDto>


@{
    ViewBag.Title = "View";
}

<a href="/WorkoutHistory/List">Go back to list</a>

<div style="margin-top:100px;">
    <h3>Workout on @Model.ElementAt(0).Date</h3>
    <table>
        <tr>
            <th>Exercise Type</th>
            <th>Exercise</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        @foreach (var WorkoutHistory in Model)
        {
            <tr>
                <td><a href="/ExerciseType/Details/@WorkoutHistory.ExerciseTypeID">@WorkoutHistory.ExerciseTypeName</a></td>
                <td><a href="/Exercise/Details/@WorkoutHistory.ExerciseID">@WorkoutHistory.ExerciseName</a></td>
                <td>@WorkoutHistory.Description</td>
                <td><a href="/WorkoutHistory/Edit/@WorkoutHistory.WorkoutHistoryID">Update</a></td>
                <td><a style="color:#ab2020;" href="/WorkoutHistory/DeleteConfirm/@WorkoutHistory.WorkoutHistoryID">[x]</a></td>
            </tr>
        }
    </table>
</div>
